<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>Kekambas Blog | {{ title }}</title>
    </head>
    <body>
        <div class="row bg-dark">
            <h1 class="text-center text-white">Kekambas Blog</h1>
        </div>

        <nav class="nav bg-dark d-flex justify-content-around">
            <a href="" class="link-light">Home</a>
            <a href="" class="link-light">Search Posts</a>
            <a href="" class="link-light">Sign Up</a>
            <a href="" class="link-light">Log In</a>
        </nav>

        <div class="container">
            {% if current_user.username %}
                <h1>Hello {{ current_user.username }}!</h1>
            {% else %}
                <h1>Hello please sign up to use our blog</h1>
            {% endif %}

            {% for p in posts %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.title }}</h5>
                        <p class="card-text">{{ p.body }}</p>
                        <div>
                            <cite>&mdash; {{ p.author }}</cite>
                        </div>
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html>